/*.....google-fonts...*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/*.......google fonts......
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
/*==========================
GLOBAL CSS
============================*/

*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Raleway', sans-serif;
}
img{
	width: 100%;
}
/*==========================
header SECTION start
============================*/

.navbar-expand-lg {
    background: black;
    padding: 2px;
}



header img {
    width: 21%;
    margin-left: 100px;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
}
header .mb-lg-0 {
    margin-bottom: 0!important;
    margin-right: 97px;
}

header li {
    list-style: none;
    margin: 0px 10px;
}
.navbar-light .navbar-nav .nav-link{
	position: relative;
	transition: 0.3s ease-in-out;
}



.navbar-light .navbar-nav .nav-link::after{
	content: " ";
	position: absolute;
	overflow: hidden;
	width: 80%;
	height: 3px;
	background: rgba(255, 139, 56, 0);
	bottom: 0px;
	left: -100%;
	transition: 0.3s ease-in-out;
	margin-left: 15%;

}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
	color: #ff9b51;
	left: 0px;

}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color:  #ff9b51
}
.navbar-light .navbar-nav .nav-link:hover::after {
	left: 0%;
	background: rgba(255, 139, 56, 1);
}
header .fa{
	color: white;
}



/*==========================
banner section start
============================*/

.banner{
background-image: url(../images/banner.png);
background-size: cover;
padding-top: 100px;
}

.banner.l-side{
	margin: 0px 250px;
	
}
.banner .logo{
	width: 150px;
	
}
.banner h2{
	color: #ffff;
	font-size: 30px;
	font-weight: 500;
	padding-top: 20px;
} 

} 
.l-side p{
	color: #d6d6d6;
	font-size: 14px;
	padding-bottom: 50px;
	
} 
.banner button{
	background: black;
    color: #ffff;
    border: 2px solid white;
    padding: 4px 18px;
    margin-bottom: 50px;
    transition: 0.8s;
	
} 
.banner button:hover{
	border: 2px solid #ff9b51;
	background: #34495e;
}
.banner form {
	
}
.banner h1{
	color: black;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    margin: 0px;
}



.banner h1 span{
	color: #ff8b38;
	font-size: 23px;
}
.banner ul{
	width: 100%;
	background: white;
	margin-bottom: 0px;
	padding: 20px 30px;
}
}
.banner ul li{
	width: 80%%;
}
.banner input{
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #00000024;
	margin-bottom: 25px;
	font-size: 14px;
	padding: 5px 0px;
}

.banner input:focus{
	outline: 0;
	box-shadow: none;
	border-color: #00000024;
}



.table-head{
	width: 100%;
	background: #d6d6d6d6;
}
.table-footer{
	padding: 1px;
	background: #ff8b38 ;
}



.table-footer input:hover{
	background:#e67e22 ;
}
.table-footer input{
	background: #ff8b38 ;
	border: none;
	color: white;
	font-weight: 600;
	margin: auto;
    padding: 15px 0px;

}
.banner .col-md-4{
	    padding: 0px 50px;
}
/*==========================
social media section 
============================*/

.social-media{
	margin-top: 20px;
}


.social-media h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: black;
	font-weight: 800;
}

.social-media li{
	display: inline;
	margin: 0px 20px;
}
.social-media i{
	color: #cccc;
	font-size: 30px;
	transition: 0.4s;
}
.social-media i:hover{
	transform: scale(1.3);
	color: #ff8b38;
}
.social-media p{
	font-size: 13px;
}
.lin{
	width: 100%;
	height: 2px;
	background: #cccc;
}

/*==========================
		efect section 
============================*/

.efect{
	background: #f7f7f7;
	padding: 100px 0px;
}
.efect button{
	background: black;
  	padding: 35px 25px;
    border: none;
    margin-bottom: 5px;
    font-weight: 700;
    color: white;
}
.efect button:hover{
	background: #ff8b38 ;
}


.efect h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
    margin-bottom: 31px;
    font-weight: 800;

}
.efect p{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
    margin-bottom: 25px;
    color: #86878b;
}
.efect .button-tab{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: white;
	background: #ff8b38;
	border: 1px solid #ff8b38;
	padding: 6px 20px;
	border-radius: 3px;
}
.efect .button-tab:hover{
	background: white;
	border: 1px solid #ff8b38;
	color: #ff8b38;
}
.efect .city-pic{
	padding: 22px 38px;
}
.contant{
	display: none;
}

.efect button.active{
	background: #ff8b38 ;
}


/*==========================
		list section 
============================*/
.list-section{
	padding: 100px 0px;
}

.list-section img{
	width: 80%;

}

.list-section h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	display: inline-block;
	

}
.list-section p{
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #86878b;
    padding: 30px 0px;
   
    
}

.title p{
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #86878b;
    margin-left: 47px;
    padding: 0px;
}

.list-section .title{
	display: inline-block;

}
.list-section i{
	color: #ff8b38;
    padding: 7px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    font-size: 20px;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
	 background: #ff9800;
}
   

/*==========================
		picture section 
============================*/


.picture{
	padding: 100px 0px;
	background: #f7f7f7;
}
.picture h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
    padding-bottom: 29px;
}
.picture p{
	font-family: 'Open Sans', sans-serif;
	color: #86878b;
	font-size: 10px;

}
.picture img{
	width: 90%;

} 

.standard{
	padding: 67px 51px 2px;
}


/*==========================
		awesome section 
============================*/

.awesome{
	padding: 70px 0px;
}

.awesome h1{
	font-size: 22px;
	color: black;
	margin-bottom: 25px;
	text-align: center


}
.awesome p{
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	color:#86878b ;
	text-align: center;
}

/*==========================
		product section 
============================*/
.product{
	padding-bottom: 70px;
}

.product i{
	font-size: 28px;
    color: #ff9244;
    border: 2px solid #ff9244;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 48px;
    padding-left: 15px;
    display: block;
    margin: 0 auto;
}

.product .col-md-4{
	padding: 0px 60px;
}

.product h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 40px 0px;


}
.product p{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
    text-align: center;
    letter-spacing: 1px;


}
/*i.abir{
	padding: 10px 18px;
}
*/

/*==========================
		pricing section 
============================*/

.pricing{
	background: #f7f7f7;
	padding: 70px 0px;
}
.pricing .col-md-4{
	padding: 0px 20px;
	
}

.pricing h1{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 15px;
}
.pricing p{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	text-align: center;
	margin-bottom: 50px;
}

.professional h2{
	background: #333333;
	color: white;
	font-size: 14px;
	padding: 13px 0px;
    text-align: center;
    margin-bottom: 1px;
}
.professional hr{
	olor: white;
    margin: 0px;

}
.professional h4{
	font-family: 'Open Sans', sans-serif;
	background: #ff8b38;
	color: white;
    padding: 12px 0px;
    font-size: 11px;
    text-align: center;
    font-weight: 400;
}
.professional h3{
	background: #333333;
	color: white;
    text-align: center;
    padding: 12px 0px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}
.professional h3 span{
	font-size: 70px;
}
.professional p{
	font-family: 'Open Sans', sans-serif;
	background: #333333;
	color: #adadad;
	font-size: 12px;
	padding: 10px 0px;
	margin-bottom: 0px;

}
.professional ul{
	padding: 0px;
}
.professional li{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
    background: white;
    margin-bottom: 1px;
    text-align: center;
    font-weight: 300;
    padding: 5px 0px;

}
.basic{
	margin-top: 51px;
}

.best-bundle {
	width: 100%;
	height: 10px;
	background: #ff9244;
}

/*==========================
		customer section 
============================*/
.customer{
	background: white;
	padding-top: 100px;
}
.customer h1{
	font-size: 22px;
	text-align: center;
	padding-bottom: 15px;


}
.customer p{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	text-align: center;
	padding: 15px 0px;
}

.sh-separator{
	background: #ff9b51;
	width: 75px;
	height: 3px;
	margin: 0px auto 10px;
}
/*==========================
		customer section 
============================*/
.comment{
	padding: 50px 0px;
}
.comm{
	padding: 0px 30px;

}


.comment p{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	text-align: justify;
	

}
.testimonial{
	padding: 10px;
	background: #f5f5f5;
	position: relative;
}
.arrow{
	width: 30px;
	height: 30px;
	background: red;
	position: absolute;
	bottom: -15px;
    left: 21px;
    transform: rotate(45deg);
    background: #f5f5f5;

}
.admimistation{
	padding: 23px 0px;
}
.addmin h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-top: 13px;
	font-weight: 600;
    margin-bottom: 1px;
}

.addmin p{
	font-family: 'Open Sans', sans-serif;

}

/*==========================
		design section 
============================*/

.design{
	background: url(../images/design.png) no-repeat top center;
	background: cover;
}
.design h1{
	font-size: 30px;
	color: white;
	text-align: center;
	padding-top: 70px;

}
.design p{
	font-size: 12px;
	text-align: center;
	color: #e4e3e2;
	padding: 20px 0px;
}

.design .axure{
	width: 90px;
	height: 3px;
	background: white;
	text-align: center;
}


.design button{
	padding: 7px 15px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 3px;
    margin-left: 45%;
    background: transparent;
    color: white;
    margin-bottom: 40px;
 	
}
.design button:hover{
	background: white;
	color: green;
}

/*==========================
		contact section 
============================*/


.contact{
	padding: 50px 0px;
	background: #ffffff;
}
.contact h1{
	font-size: 30px;
	color: black;
	text-align: center;
	padding-top: 70px;

}
.contact p{
	font-size: 12px;
	text-align: center;
	color: #86878b;
	padding: 20px 0px;
}

.contact .contact-us{
	width: 90px;
	height: 3px;
	background: #ff8b38;
	text-align: center;
}

.form-left ul{
	width: 100%;
}
.form-left li{
	width: 100%;
	padding-bottom: 20px;
}
.form-left input{
	width: 100%;
	border: none;
    border-bottom: 1px solid #d6d6d6;
    font-size: 10px;
    padding: 10px;
}

.form-left input:focus{
	outline: 0;
}

.form-right textarea{
	width: 100%;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    color: #a5a5a5;
    focus: none;
}
.form-right textarea:focus{
	outline: 0;
}
.contact button{
	padding: 7px 15px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 3px;
     background: #ff9b51;
    color: white;
    margin-bottom: 40px;
    width: 139px;
    margin: auto;
	border: 1px solid transparent;
	transition: 0.3s ease-in-out;


}

.contact button:hover{
	background:white ;
	border: 1px solid #ff9b51;
	color: #ff9b51;
	font-weight: bold;
}





/*==========================
		footer section 
============================*/
.footer{
	background: black;
	margin-bottom: 50px;
}

.footer li{
	display: inline;
	margin: 0px 20px;
}
.footer i{
	color: #cccccc;
    font-size: 17px;
    padding-top: 20px;
    transition: 0.4s;
}

.footer ul{
	margin-left: 30%;
}

.footer i:hover{
	transform: scale(1.5);
	color: #ff9b51;
}


.copyright p{
	font-size: 10px;
	text-align: center;
	color: #b8b8b8;
}